@model TechJobsPersistentAutograded.ViewModels.AddJobViewModel;
<h1>Add a Job</h1>


<form asp-controller="Home" asp-action="ProcessAddJobForm" method="post">

    <div class="form-group">

        <label>Name</label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name"></span>
    </div>
    <!--create the form field to add employer information to the job.
    This field should be a dropdown menu with all of the employers in the database. -->

    <div class="form-group">

        <label asp-for="EmployerId">Choose an Employer:</label>
        <select class="form-control" asp-for="EmployerId" asp-items="@Model.Employer"></select>
        <span asp-validation-for="EmployerId"></span>
        @*<a asp-controller="Employer" asp-action="Add">Add Employer</a>*@
   
    </div>

    <div class="form-group">
        <label asp-for="Id">Select the Skills</label>
        
            @foreach(SelectListItem item in @Model.JobSkills)
            {
               <li>
                  <input name="selectedSkills" value=@item.Value type="checkbox" />@item.Text
               </li>
            }
    </div>


    @*<div class="form-group">

        @foreach(var item in Model.JobSkills)
        {
            <label for="@item.Id">@item.Name</label>
            
             <input name="Skills" value=@item.Id type="checkbox" />
            
        }

    </div>*@

    <div>
        <a asp-controller="Employer" asp-action="Add" >Add Employer</a>
    </div>

    <input type="submit" value="Add Job" />

</form>
